.env
market_transformations/profiles.yml
market_transformations/.user.yml
logs/

dbt_venv/
__pycache__/
*.pyc

market_transformations/target/
market_transformations/logs/
market_transformations/dbt_packages/